.cardWrapper {
    width: 345px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    max-height: 140px;
    height: 140px;
    overflow: visible;

    & img {
        height: 140px;
    }
}
